<section class="bg-white">

    <app-container>

        <div class="grid min-h-[calc(100vh-80px)] items-center gap-12 lg:grid-cols-2">

            <!-- Left Content -->

            <div>

                <span class="inline-flex rounded-full bg-red-100 px-4 py-2 text-sm font-medium text-red-600">

                    🍽️ Premium Restaurant

                </span>

                <h1 class="mt-6 text-5xl font-bold leading-tight text-gray-900 lg:text-7xl">

                    Premium Dining

                    <span class="block text-red-600">

                        Experience

                    </span>

                </h1>

                <p class="mt-8 max-w-xl text-lg leading-8 text-gray-600">

                    Where Every Meal Becomes a Memory.
                    Experience handcrafted dishes prepared by expert chefs using the freshest ingredients.

                </p>

                <div class="mt-10 flex flex-wrap gap-5">

                    <app-button variant="primary">
                        Reserve Table
                    </app-button>

                    <app-button variant="secondary">
                        Explore Menu
                    </app-button>

                </div>

            </div>

            <!-- Right -->

            <div class="hidden justify-center lg:flex">

                <img src="/images/foods/HeroSection.png" alt="Premium Dish" class="w-full max-w-xl">

            </div>

        </div>

    </app-container>

</section>